<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="zebrakeyboard" version="0.0.1">
    <name>ExternalKeyboard</name>

    <description>An Android Cordova plugin identifies if an external physical keyboard is connected to the device.</description>
    <license>MIT</license>

    <keywords>cordova,android,zebra,keyboard</keywords>
    <repo>https://github.com/GMLSDantas/cordova-plugin-android-externalkeyboard</repo>
    <issue>https://github.com/GMLSDantas/cordova-plugin-android-externalkeyboard/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=7.1.0"/>
    </engines>
  
    <js-module src="www/externalkeyboard.js" name="externalKeyboard">
        <clobbers target="window.plugins.externalKeyboard" />
    </js-module>
	
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ExternalKeyboard">
                <param name="android-package" value="com.GMLSDantas.plugin.ExternalKeyboard"/>
            </feature>
        </config-file>

        <source-file src="src/android/com/GMLSDantas/plugin/ExternalKeyboard.java" target-dir="src/com/GMLSDantas/plugin" />
    </platform>
</plugin>
